<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
   <el-row>
        <h1 align="center"> Ingrese los datos de Proveedor </h1>
     <el-col :span="12">
      <div class="grid-content">
        <el-input placeholder="Nombre" v-model="nombreProveedor" ></el-input>
        <br>
        <br>
        <p> Fecha de Ingreso </p>
        <el-date-picker placeholder="Ingreso" v-model="ingresoProveedor" ></el-date-picker>
        <br>
        <br>
        <el-input placeholder="Capital" v-model="capitalProveedor" type="number" ></el-input>
        <br>
        <br>
        <el-input placeholder="Ubicación" v-model="ubicacionProveedor"></el-input>
        <br>
        <br>
        <p> Tiempo de Entrega </p>
        <el-date-picker placeholder="Entrega" v-model="entregaProveedor"></el-date-picker>
        <br>
        <br>
        <p> Tipo de Empresa </p>
        <el-radio v-model="tipoEmp" label="1"> Pública </el-radio>
        <el-radio v-model="tipoEmp" label="2"> Privada </el-radio>
        <br>
        <br>
        <div> 
            <el-select placeholder="Productos" v-model="productosProveedor">
                <el-option
                v-for="item in listaProductos"
                :key="item.productos"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
        </div>
        <br>
        <br>
        <center>
            <a href="C:/Users/Ricardo Velasco/Desktop/Parcial 1 Prog. Grafica/Login.html"> 
            <el-button type="primary">Salir</el-button>
            </a>
            <el-button type="primary" @click="guardarProv" v-if="validarProv">Guardar</el-button> 
            <a href="C:/Users/Ricardo Velasco/Desktop/Parcial 1 Prog. Grafica/Metodo_Pago.html">
              <el-button type="primary">Siguiente</el-button>
            </a>
        </center>
      </div>
     </el-col>
     <el-col :span="12">
    <div class="grid-content">
     </div>
     </el-col>
      <div id="ocultar2">
        <el-table
        :data="tableData2"
        style="width: 100%">
        <el-table-column
          prop="nombreProv"
          label="Nombre Proveedor"
          width="180">
        </el-table-column>
        <el-table-column
          prop="fechaIn"
          label="Fecha Ingreso"
          width="180">
        </el-table-column>
        <el-table-column
          prop="capital"
          label="Capital"
          width="180">
        </el-table-column>
        <el-table-column
          prop="ubicacionProv"
          label="Ubicación Proveedor"
          width="180">
        </el-table-column>
        <el-table-column
          prop="tiempoEntrega"
          label="Tiempo de entrega"
          width="180">
        </el-table-column>
        <el-table-column
          prop="tipoEmp"
          label="Tipo de empresa"
          width="180">
        </el-table-column>
        <el-table-column
        prop="productoProv"
        label="Producto"
        width="180">
       </el-table-column>
       </el-table>
      </div>
     </div>
   </el-row>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./main.js"></script>
</html>
